/* 티켓수령방법 + 예매자 확인 */

#main-panelContent {
  display: flex;
}
#panelContent {
  display: flex;
  margin-right: 30px;
}

/* 티켓수령방법 */
#ticketContent {
  border-right: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 600px;
  text-align: left;
  padding: 15px;
}

#ticketContent h2 {
  font-size: 20px;
  font-weight: 600;
}

#ticketForm {
  width: 100%;
  padding: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid #000000;
  margin-top: 10px;
}

#ticketForm label {
  padding-left: 15px;
}

/* ******************************* */
/* 예매자 확인 */
#customerContent {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  padding: 15px 15px 15px 30px;
}

#customerContent h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

/* 예매자 확인 폼 */
#customerForm {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 10px;
  text-align: left;
}

#customerForm ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customer-formList {
  display: flex;
  flex-direction: column;
  padding: 7px 0px 15px 0px;
  margin: 10px 5px;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.customer-formList label {
  margin-right: 20px;
}

.customer-formList span {
  display: inline;
  color: red;
  padding: 10px;
  font-size: 13px;
}

.customer-form-boxlist {
  padding-top: 8px;
  margin-bottom: -2px;
}

/* 번호, 생년월일 아래 참조 */
.birth-ex {
  color: rgb(83, 83, 83);
  font-size: 12px;
  margin: 0px;
  padding-left: 5px;
  padding-top: 5px;
}

/* 이전, 다음 버튼 */
.customer-btnPrev {
  width: 70px;
  height: 45px;
  font-size: 20px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #696969;
  color: white;
  text-align: center;
  margin-left: 35px;
}

.customer-btnNext {
  width: 70px;
  height: 45px;
  font-size: 20px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #696969;
  color: white;
  text-align: center;
  margin-left: 460px;
  margin-top: 20px;
}

.customer-btnOk {
  width: 70px;
  height: 45px;
  font-size: 20px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #1a7dbe;
  color: white;
  text-align: center;
  margin-left: 250px;
  margin-top: 20px;
}

/* ************************ */
/* 정보를 확인하세요 페이지 */
#checkInfoBox-content {
  display: flex;
}

#checkInfoBox {
  width: 980px;
  text-align: left;
  padding: 20px 10px;
  margin-right: 30px;
}

#checkInfoBox > h1 {
  width: 930px;
  font-size: 23px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
}

#checkInfoBox > ul > li {
  padding: 15px 5px;
  font-size: 17px;
}

/* 티켓 예매하기 위치 조정 */
.mytickInfo-content {
  margin-top: -15px;
}
