#mainticket-content {
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  width: 1500px;
}

#mainticket-content h1 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 10px;
}

#ticket-innerContent {
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 0px 0px 3px rgb(105, 105, 105);
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  width: 980px;
  height: 630px;
  padding: 15px;
  display: flex;
}

#main-innerContent {
  width: 1500px;
  height: 630px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
