#re-calendarBox {
  margin: 0 auto;
  margin-top: 50px;
  width: 1180px;
  background-color: white;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
}

.calendar-line {
  width: 350px;
  margin: 20px 0px 30px 0px;
}

/* 캘린더 info title 문구 */
.calendar-text {
  text-align: center;
  width: 390px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 10px;
  color: rgb(39, 39, 39);
  /* border-bottom: 1px solid lightgray; */
}

/* 날짜 클릭 시 나오는 콘텐츠 */
#calendar-content {
  margin-left: 10px;
  display: flex;
}

/* 관람시간, 좌석 체크하기  */
#calendar-innerInfo {
  padding: 20px 0px 0px 0px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

/* 관람 시간 */
.perform-info {
  padding: 0px 0px 30px 0px;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.calendar-btn {
  padding: 10px 0px 10px 0px;
}

#time-btn {
  margin: 5px;
}

/* 좌석 선택 */
#seat-info {
  margin-top: 40px;
}

.seat-btn-box {
  padding: 10px;
  text-align: center;
}

#seat-btn {
  margin: 5px;
}

/* 정보를 확인하세요 */
.calendar-checkInfo {
  padding-top: 60px;
  width: 355px;
  margin-top: 0px;
}

.calendar-text2 {
  text-align: center;
  margin: 15px;
}

#calendar-reserve-btn {
  text-align: center;
  margin-top: 30px;
}

/*react-calendar 기본 설정*/

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
