#reinfo-contentBox {
  display: flex;
  justify-content: space-evenly;
  width: 930px;
  text-decoration: none;
  list-style-type: none;
  /* padding-left: 100px; */
}

#reinfo-contentBox img {
  width: 300px;
  height: 400px;
}

#reinfo-content-in {
  display: flex;
  flex-direction: column;
}

#reinfo-ulContent {
  text-align: left;
  border-bottom: 1px solid lightgray;
  padding-bottom: 25px;
}

#reinfo-ticketPrice {
  text-wrap: wrap;
  width: 300px;
}

#reinfo-performTime {
  text-wrap: wrap;
  width: 350px;
}

.reinfo-inLabel {
  display: inline-block;
  padding: 5px 0px 5px 0px;
  width: 140px;
}

.reinfo-inText {
  display: inline-block;
}

/* .reinfo-line {
  width: 500px;
  border: 1px solid lightgray;
  margin: 0px 0px 10px 50px;
  padding-left: 10px;
} */

#reinfo-addText {
  text-align: left;
  margin-top: 5px;
}

.reinfo-addInLabel {
  padding: 10px;
}

#reinfo-btn {
  margin: 5px;
}

#reinfo-btn button {
  width: 300px;
}
