* {
  text-decoration: none;
  list-style-type: none;
  /* border: solid 1px black; */
}

#contentBox {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  /* padding-left: 100px; */
}

#contentBox img {
  width: 300px;
  height: 400px;
}

#content-in {
  display: flex;
  flex-direction: column;
}

#ulContent {
  text-align: left;
}

.inLabel {
  display: inline-block;
  padding: 10px 0px 10px 0px;
  width: 140px;
}

.inText {
  display: inline-block;
}

.line {
  width: 500px;
  border: 1px solid lightgray;
  margin: 0px 0px 10px 50px;
  padding-left: 10px;
}

#addText {
  text-align: left;
  margin-top: 5px;
}

.addInLabel {
  padding: 10px;
}

#btn {
  margin: 5px;
}

button {
  width: 300px;
}
