/* 전체 박스 */
#reinfo-contentBox {
  display: flex;
  width: 950px;
  margin: 10px;
  padding-left: 30px;
  text-decoration: none;
  list-style-type: none;
}

/* 공연정보: 이미지 */
#reinfo-contentBox img {
  width: 300px;
  height: 400px;
  margin-left: 30px;
}

/* 공연 정보 박스 */
#reinfo-content-in {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-left: 90px;
  width: 800px;
}

/* 공연 정보: 장소, 공연시간, 관람연령, 티켓가격 */
#reinfo-ulContent {
  width: 750px;
  text-align: left;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

.reinfo-inLabel {
  display: inline-block;
  padding: 10px 0px 10px 0px;
  width: 140px;
}

.reinfo-inText {
  display: inline-block;
  width: 500px;
}

/* 티켓 가격: 가격이 길어지면 css가 지저분해져서 넘어가게 처리함 */
#reinfo-ticketPrice {
  text-wrap: wrap;
  width: 550px;
}

/* 추가 정보: 공연시간, 배송정보 */
#reinfo-addText {
  text-align: left;
}

.reinfo-li {
  margin-top: 10px;
}

.reinfo-addInLabel {
  margin: 0px 0px 20px 0px;
  padding: 10px 0px 10px 0px;
}

/* 공연 시간 */
#reinfo-performTime {
  text-wrap: wrap;
  width: 680px;
}
