#reserve-mainContent {
  width: 1500px;
  margin: 0 auto;
  height: 1200px;
}

#reserve-content {
  width: 1500px;
  height: 850px;
  background-color: rgb(236, 236, 236);
}

#reserve-innerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1500px;
}

#reserve-downContent {
  text-align: left;
}
