#reserve-mainContent {
  width: 1300px;
  margin: 0 auto;
  height: 2000px;
}

#reserve-content {
  width: 1300px;
  height: 1200px;
  /* background-color: rgb(245, 245, 245); */
}

#reserve-innerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1300px;
}

#reserve-downContent {
  text-align: left;
}
