#csWrap {
  height: 100%;
}

#csWrap>.container {
  min-height: 70vh;
  padding: 120px 0;
}

#csWrap nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#csWrap a {
  text-decoration: none;
}

#csWrap.on {
  color: var(--primary-color1);
}

#subHeader {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: linear-gradient(45deg, black, #34210d 16%,#333);
  transition: all 0.4s;
}

#subHeader .inner {
  margin: 0 auto;
  padding: 0 1% 0 2%;
}

#subHeader .inner nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

#subHeader .inner nav h1 {
  margin-left: 10px;
  margin-bottom: 0;
}

#subHeader .inner nav h1 a img {
  display: block;
  height: 55px;
  padding: 2%;
}

#subHeader .inner nav ul {
  height: 60px;
}

#subHeader .inner nav ul li {
  padding: 5px 10px;
}

#subHeader .inner nav ul li:not(:last-child) {
  margin-right: 33px;
}

#subHeader .inner nav ul li:hover {
  border-bottom: 3px solid var(--primary-color1);
}

#subHeader .inner nav ul li:hover a {
  color: var(--primary-color1);
}

#subHeader .inner nav ul li a {
  font-weight: 500;
  font-size: 14px;
  color: ghostwhite;
}

#csNav {
  width: 100%;
  height: 78px;
  line-height: 78px;
  position: sticky;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e6e3df;
}

#csNav h2 {
  font-size: 18px;
  height: 64px;
  margin: 0 48px 0 32px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 64px;
}

#csNav h2 ul {
  overflow: hidden;
  padding: 30px 0;
  align-items: center;
}

#csNav ul li {
  padding: 5px 10px;
  height: 60px;
  line-height: 60px;
}

#csNav ul li:not(:last-child) {
  margin-right: 33px;
}

#csNav ul li:hover {
  border-bottom: 3px solid var(--primary-color1);
}

#csNav ul li a {
  text-align: center;
  color: #252421;
}

#csNav ul li:hover a {
  color: var(--primary-color1);
}

#csWrap .titleBox h3 {
  padding-bottom: 13px;
  font-size: 26px;
  color: var(--primary-color1);
  font-weight: bold;
}

#csWrap .titleBox p {
  margin-bottom: 6vh;
}

#noticeWrap{padding: 0 5dvw;}
#noticeWrap p {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

#noticeWrap .table {
  margin: 0 auto;
  --bs-table-striped-bg: transparent !important;
  --bs-table-hover-bg: var(--primary-color1);
  --bs-table-hover-color: whitesmoke;
}

#noticeWrap .table th,
#noticeWrap .table td:not(:last-child) {
  text-align: center;
}

#noticeWrap .table th:first-child {
  width: 60px;
}

#noticeWrap .table>tbody>tr {
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}

#noticeWrap .table .table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: transparent;
}

#noticeWrap .table th {
  font-weight: 500;
  border-top: 1px solid var(--primary-color2);
  color: var(--primary-color1);
}

#noticeWrap .pagination {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  --bs-pagination-color: rgba(0, 0, 0, 0.6);
  --bs-pagination-hover-color: var(--primary-color1);
  --bs-pagination-active-color: var(--primary-color1);
  /* 보더용: */
  --bs-pagination-border-color: none;
  --bs-pagination-active-border-color: none;
  --bs-pagination-hover-border-color: none;
  /* 배경용: */
  --bs-pagination-hover-bg: none;
  --bs-pagination-active-bg: none;
}

#noticeWrap li.page-item a span {
  color: var(--primary-color1);
}

#noticeWrap .page-item.active span {
  font-weight: bold;
}

#noticeBoardWrap {
  width: 100%;
}

#noticeBoardWrap ol .breadcrumb-item a {
  width: 100%;
  color: #bb2462;
  font-size: 16px;
  padding-bottom: 20px;
}

#noticeBoardWrap h2 {
  font-size: 24px;
  color: #333;
  padding: 3.5% 5% 4% 0;
}

#noticeBoardWrap .contents {
  border-top: 1px solid #f4f2ef;
  border-bottom: 1px solid #f4f2ef;
  padding: 3% 8% 3.5% 0;
  margin-bottom: 40px;
  width: 100%;
}

#noticeBoardWrap .toBackBtn {
  display: block;
  max-width: 192px;
  max-height: 56px;
  line-height: 56px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(193, 56, 112);
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.6s;
  border: none;
}

#noticeBoardWrap .toBackBtn:hover {
  background-color: rgb(158 47 92);
}

#faqWrap .accordian {
  --bs-accordion-active-bg: var(--primary-color1);
}

#faqWrap .accordion-button:not(.collapsed) {
  background-color: #bb2462;
  color: white;
}

#faqWrap .accordion-button:focus {
  box-shadow: none;
}

#contactWrap p>a{color: var(--primary-color1);}

#contactWrap .titleBox {
  max-width: 600px;
  margin: 0 auto;
}

#contactWrap .inline2in1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.25rem;
}

#contactWrap .inline2in1 .mb-3 {
  width: 50%;
}

#contactWrap form {
  padding-top: 48px;
  margin: 0 auto;
  max-width: 600px;
}

#contactWrap form input {
  border: 1px solid #e6e3df;
}

#contactWrap form textarea {
  width: 100%;
  height: 20vh;
  max-height: 400px;
  border-radius: 4px;
  color: #393939;
  border: 1px solid #e6e3df;
  resize: none;
  outline: none;
  overflow: hidden;
}

#contactWrap form label.form-label {
  color: #393939;
  cursor: default;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.125rem;
  /* 드래그 방지: */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contactWrap button {
  width: 100%;
  --bs-btn-color: #393939;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--primary-color1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color1);
  --bs-btn-hover-border-color: var(--primary-color1);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color1);
}

.okModalBox {}

.okModalBox.modal.show .modal-dialog {
  width: 480px;
}

.okModalBox .modal-header {
  width: 100%;
}

.okModalBox .modal-header .modal-title {
  text-align: center;
  width: 100%;
}

.okModalBox .modal-header img {
  height: 50px;
}

.okModalBox .modal-body {
  margin: 0 auto;
}

.okModalBox .modal-footer {
  justify-content: center;
  width: 100%;
}

.okModalBox .modal-footer button {
  --bs-btn-bg: rgb(193, 56, 112);
  --bs-btn-border-color: var(--primary-color1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color2);
  --bs-btn-hover-border-color: var(--primary-color2);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color1);
}