.downCotnent-tabs {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.downCotnent-tabs li {
  margin: 10px 10px 20px 20px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.downCotnent-tabs li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.downCotnent-contents {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
