@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

:root {
    --blue: #0e0620;
    --white: #fff;
    --green: #2ccf6d;
}

/* 메인 로딩 페이지: */
#loadingWrap {
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loadingWrap .loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

#loadingWrap .loader:before,
#loadingWrap .loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
#loadingWrap .loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
#loadingWrap .loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

/* 에러404 페이지: */
#error404Wrap svg {
    width: 100%;
    visibility: hidden;
}

#error404Wrap h1 {
    font-size: 48px;
    margin: 15px 0px;
    font-weight: bold;
}

#error404Wrap h2 {
    font-weight: bold;
}

#error404Wrap .container {
    height: 100%;
    padding: 10%;
}

#error404Wrap .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#error404Wrap .row>div {
    width: 50%;
}

#error404Wrap .row .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error404Wrap .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
}

#error404Wrap .btn.green {
    border: 4px solid var(--green);
    color: var(--blue);
}

#error404Wrap .btn.green:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: var(--green);
    z-index: -1;
    transition: 0.2s ease;
}

#error404Wrap .btn.green:hover {
    color: var(--white);
    background: var(--green);
    transition: 0.2s ease;
}

.btn.green:hover:before {
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        display: block;
    }

    #error404Wrap .container {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

/* FOOTER 푸터: */
#footer {
  position: relative;
  height: auto;
  background: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg")
    center 70% / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.747);
  background-blend-mode: multiply;
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
#footer .inner {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding-top: 2%;
}
#footer .container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}
#footer .flex {
  display: flex;
}
#footer .container__about {
  margin-bottom: 30px;
}

#footer .container__about p {
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

#footer .container-pages {
  column-gap: 30px;
}

#footer .container-pages ul {
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}
#footer .container-pages ul a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
#footer .container-pages ul a:hover {
  color: #017143;
}
#footer address {
  margin: 30px auto;
  flex-wrap: wrap;
  text-align: center;
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
  font-style: normal;
}

#footer .line__separete {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
#footer .icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

#footer .icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

#footer .icon1:hover {
  outline-offset: 4px;
}

#footer .icon1:hover i {
  animation: shake 0.25s;
}

#footer .icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

#footer .icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

#footer .icon--linkedin:hover {
  background-color: red;
  outline-color: red;
}

#footer .icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  #footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #footer .container__about h2 {
    font-size: 20px;
  }
  #footer .container__about p {
    font-size: 12px;
  }
  #footer .container__recentpages h2 {
    font-size: 20px;
  }
  #footer .container-pages ul a {
    font-size: 12px;
  }
  #footer .by p {
    font-size: 12px;
  }
}