@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

:root {
  --primary-color1: #c13870;
  --primary-color2: #9e2f5c;
  --light-color1: #f5e0c9;
  --green-color1:rgb(58, 94, 96);
}
body{font-family: 'Noto Sans', sans-serif;}
/* COMMON: */
.fade-in {
  opacity: 1;
  animation: fadeIn ease-in-out 1s;
}
#header li, #footer li{padding: 0;}
.fade-out {
  opacity: 0;
  animation: fadeOut ease-in-out 1s;
}

/* HEADER: */
#header {
  width: 100dvw;
  top: 0;
  z-index: 9;
  position: fixed;
  background-color: transparent;
}

#header:not(:img) {
  transition: all 0.6s !important;
}

#header:hover {
  background-color: white;
}

#header:hover .inner .nav-link {
  color: var(--primary-color1);
}

#header:hover .inner #nav2 h1.logo a img {
  transition: none !important;
}

#header:hover .inner #nav2 .navbar>.container-fluid form input {
  border-bottom: 1px solid var(--primary-color1);
}

#header:hover .inner #nav2 nav form button svg {
  color: #bb2462;
  --bs-btn-hover-color: gold;
}

#header:hover .inner #nav2 nav .container-fluid .navbar-toggler svg {
  color: var(--primary-color1);
}

#header .inner {
  width: 90dvw;
  margin: 0 auto;
}
#header .inner .nav-item:not(:last-child) {
  margin-right: 1%;
}

#header .inner .nav-link {
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  color: floralwhite;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2.2px;
}

#header .inner .nav0 .nav-item:hover .nav-link,#nav2 .nav-link:hover {
  color: var(--primary-color1);
  text-decoration: underline 1.3px solid var(--primary-color1);
}

#header .inner #nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#header .inner #nav2 h1.logo {
  font-size: 0;
  margin: 0;
}

#header .inner #nav2 h1.logo a img {
  height: 60px;
  transform: translateY(-2px);
}

#header .inner #nav2 nav {
  --bs-navbar-padding-y: 0;
  --bs-bg-opacity: 0;
  height: 60px;
  width: 100%;
  margin-left: 3%;
}

#header .inner #nav2 nav .container-fluid {
  --bs-navbar-padding-y: 0;
  height: 60px;
  width: 100%;
  justify-content: end;
  position: relative;
  padding: 0;
}

#header .inner #nav2 nav .container-fluid .navbar-nav {
  display: flex;
  width: 100%;
}
#header .inner #nav2 nav .container-fluid #offcanvasNavbar-expand-xl .offcanvas-body .nav-link:not(:last-child){margin-right: 2%;}
.offcanvas.show .offcanvas-header .offcanvas-title {
  margin: 0 auto;
}
.offcanvas.show .offcanvas-header a img {
  width: 130px;
}

#header .inner #nav2 nav .container-fluid .navbar-toggler.collapsed {
  color: whitesmoke;
  border: none;
  font-size: 24px;
}

#header .navbar>.container-fluid form {
  position: absolute;
  left: 30%;
}

#header .inner #nav2 form input {
  background-color: transparent;
  border: transparent;
  border-radius: 0;
}

#header .inner #nav2 form input {
  border-bottom: 1px solid white;
}

#header .inner #nav2 form .btn-outline-success {
  max-width: 40px;
  position: absolute;
  right: 0;
  --bs-btn-hover-color: gold;
  --bs-btn-color: whitesmoke;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: none;
}
@media screen and (min-width: 1600px){
}
@media screen and (max-width: 1200px) {
  #header .inner {
    max-width: 980px;
  }

  #header .inner #nav2 h1.logo a img {
    transform: none;
  }
  
}

@media screen and (max-width: 768px) {
  #header .inner {
    max-width: 500px;
  }

  #header .inner .nav0 {
    display: none;
  }

  #header .inner #nav2 h1.logo a img {
    height: 48px;
  }

  #header .inner #nav2 form input {
    border-bottom: 0;
  }
}

/* 메인 로딩 페이지: */
#loadingWrap {
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingWrap .loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

#loadingWrap .loader:before,
#loadingWrap .loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

#loadingWrap .loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

#loadingWrap .loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

/* 에러404 페이지: */
#error404Wrap svg {
  width: 100%;
  visibility: hidden;
}

#error404Wrap h1 {
  font-size: 48px;
  margin: 15px 0px;
  font-weight: bold;
}

#error404Wrap h2 {
  font-weight: bold;
}

#error404Wrap .container {
  height: 100%;
  padding: 10%;
}

#error404Wrap .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#error404Wrap .row>div {
  width: 50%;
}

#error404Wrap .row .col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error404Wrap .btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

#error404Wrap .btn.green {
  border: 4px solid var(--primary-color1);
  font-size: 16px;
  letter-spacing: 3.2px;
}

#error404Wrap .btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--primary-color1);
  z-index: -1;
  transition: 0.2s ease;
}

#error404Wrap .btn.green:hover {
  color: whitesmoke;
  background: var(--primary-color1);
  transition: 0.2s ease;
}

.btn.green:hover:before {
  width: 100%;
}

/* ToTopBtn: */
.toTopBtn {
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 2;
  background-color: rgb(187, 36, 98);
  color: white;
  border-radius: 100%;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.4));
  height: 40px;
  width: 40px;
  border: none;
  display: none;
}
.toTopBtn svg {
  position: absolute;
  left: 30%;
  top: 25%;
  font-size: 20px;
  margin: 0 auto;
}

.toTopBtn.show {
  display: block;
}


@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  #error404Wrap .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

/* 예매완료OrderConfirmation: */
/* -예매완료로딩 */
#confirmationLoadingWrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#confirmationLoadingWrap .confirmationLoadingContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#confirmationLoadingWrap .confirmationLoadingContainer svg {
  height: 200px;
  stroke: #c13870;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards 1;
}

/* -예매완료 */
#orderCononfirmationWrap {
  position: relative;
  text-align: center;
  background-image: linear-gradient(-45deg, #fdf8d8 0%, #f3dfda 100%);
  width: 100%;
  height: 100vh;
}

#orderCononfirmationWrap .container {
  border-radius: 13px;
  background: white;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#orderCononfirmationWrap .container .top {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#orderCononfirmationWrap .container .top .iconBox {
  margin: 1% auto;
  padding-top: 1%;
}

#orderCononfirmationWrap .container .top .iconBox svg {
  color: #c13870;
  height: 9vh;
}

#orderCononfirmationWrap .container .top h1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#orderCononfirmationWrap .container .top h1 img {
  height: 40px;
}

#orderCononfirmationWrap .container .top h1 button {
  color: #c13870;
  background: transparent;
  border-radius: 50%;
  border: none;
}

#orderCononfirmationWrap .container .top h1 button svg {
  height: 18px;
  transition: all 0.2s;
}

#orderCononfirmationWrap .container .top h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 5% auto 2%;
}

#orderCononfirmationWrap .container .top h1 button:hover svg {
  height: 20px;
}

#orderCononfirmationWrap .container .top>p {
  font-size: 14px;
  margin: 0 auto 2%;
  padding: 0;
}

#orderCononfirmationWrap .container .top hr {
  border: 1px solid maroon;
  width: 76%;
  margin: 0 auto;
  padding: 0;
}

#orderCononfirmationWrap .container .bottom {
  height: 40%;
  font-size: 12px;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#orderCononfirmationWrap .container .bottom>p {
  margin: 0;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#orderCononfirmationWrap .container .bottom .orderReceipt {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

#orderCononfirmationWrap .container .bottom .orderReceipt .left {
  margin-right: 1%;
  width: 35%;
  text-align: right;
}
#orderCononfirmationWrap .container .bottom .orderReceipt .right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#orderCononfirmationWrap .container .bottom .orderReceipt .right p {
  margin: 0;
  padding: 0;
}

#orderCononfirmationWrap .container .bottom .orderReceipt .right p span {
  font-weight: bold;
}
#orderCononfirmationWrap .container .btnBox button:first-child.btn-primary {
  margin-right: 8%;
  font-size: 12px;
  border: none;
  width: 110px;
  height: 38px;
  --bs-btn-color: #fff;
  --bs-btn-bg: maroon;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a62121c4;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: maroon;
}

#orderCononfirmationWrap .container .btnBox button:last-child.btn-primary {
  font-weight: bold;
  font-size: 12px;
  border: none;
  min-width: 100px;
  height: 38px;
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-color1);
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b13568;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color1);
}

#orderCononfirmationWrap .container .btnBox .sendBtn ._form-thank-you {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

#orderCononfirmationWrap .container .btnBox .sendBtn ._form-thank-you p {
  margin: 0;
}

#orderCononfirmationWrap .container .btnBox .sendBtn ._form-thank-you span {
  display: block;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #16a085;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #fff;
}

#successAnimationResult {
  fill: #16a085;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
    0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
    0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#emailModalWrap {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#emailModalWrap .container {
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  height: 140px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#emailModalWrap .container .closeBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: bold;
}

#emailModalWrap .container>p {
  font-size: 13px;
  font-weight: bold;
}

a:hover {
  color: #7f8ff4;
}

#emailModalWrap .container .form {
  display: flex;
}

#emailModalWrap .uppercase {
  text-transform: uppercase;
}

#emailModalWrap .btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

#emailModalWrap .btn--primary {
  background: #c13870;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2%;
  width: 40%;
  font-size: 13px;
  font-weight: bold;
  min-width: 54px;
}

#emailModalWrap .btn--primary:hover {
  background-color: maroon;
}

#emailModalWrap .btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

#emailModalWrap .form__field {
  width: 60%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 1% 3%;
  font-size: 12px;
  min-width: 140px;
}

/* FOOTER 푸터: */
#footer {
  position: relative;
  bottom: 0;
  max-height: 285px;
  background: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg")
    center 70% / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.747);
  background-blend-mode: multiply;
  color: rgb(255, 255, 255);
  padding-bottom: 1%;
}
#footer p {
  margin-bottom: 0 !important;
}
#footer .inner {
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  padding-top: 2%;
}

#footer .container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
  padding:0;
}
#footer .container h4 {
  font-size: 16px;
  margin-bottom: 6px;
}
#footer .flex {
  display: flex;
}
#footer .inner .container .footer_logobox img{height: 4dvw;}
#footer .container__about {
  margin-bottom: 30px;
}

#footer .container__about p {
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

#footer .container-pages {
  column-gap: 30px;
}

#footer .container-pages ul {
  list-style: none;
  line-height: 24px;
}

#footer .container-pages ul a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

#footer .container-pages ul a:hover {
  color: var(--primary-color1);
  text-decoration: underline 1px solid var(--primary-color1);
}

#footer address {
  margin: 30px auto 0;
  flex-wrap: wrap;
  text-align: center;
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
  font-style: normal;
}

#footer .line__separete {
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}

#footer .icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

#footer .icon1 {
  width: 40px;
  height: 40px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

#footer .icon1:hover {
  outline-offset: 4px;
}

#footer .icon1:hover i {
  animation: shake 0.25s;
}

#footer .icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

#footer .icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

#footer .icon--linkedin:hover {
  background-color: red;
  outline-color: red;
}

#footer .icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  #footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #footer .container__about h2 {
    font-size: 20px;
  }

  #footer .container__about p {
    font-size: 13px;
  }

  #footer .container__recentpages h2 {
    font-size: 20px;
  }

  #footer .container-pages ul li a {
    font-size: 12px;
  }

  #footer .by p {
    font-size: 12px;
  }
}