.table-container {
  max-width: 800px;
  margin: 0 auto;
}

.table-style {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

.th-style {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.td-style {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.bt-style {
  background-color: rgb(236, 91, 91);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.bt-style:hover {
  background-color: #c00;
}
