/* Header.css */
.HomeHeader {
  display: flex;
  position: relative;   
  float: left;
  width: 80%;
  height: 20%;
  margin: 20px auto;
  padding: 0 auto;
  font-weight: bold;
  font-size: large;
  background-color: red;
}

/* main.css */
.box {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1200px;
  height: 1000px;
  border-radius: 40px;
  background-color: rgb(250, 248, 248);
}

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box1 {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 20%;
  height: 95%;
  float: right;
  border: 1px solid white;
  border-radius: 40px;
  margin: 10px 15px;
  padding: 40px;
}

.box2 {
  position: relative;
  float: right;
  background-color: white;
  width: 75%;
  height: 95%;
  border: 1px solid white;
  border-radius: 40px;
  margin: 10px;
  padding: 40px;
}

.box2:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.MypageName {
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 40px;
  /* border-bottom: 1px solid rgb(228, 226, 226); */
}

.MypageSub1 {
  padding: 60px 0;
  border-bottom: 1px solid rgb(228, 226, 226);
}

.MypageSub2 {
  padding: 60px 0;
  border-bottom: 1px solid rgb(228, 226, 226);
}

/* .MypageSub3 {
  padding: 20px 0;
  border-bottom: 1px solid rgb(228, 226, 226);
} */

.MypageMenu > div > ul {
  list-style: none;
}

.MypageMenu > div > ul > li {
  padding: 8px 0;
}

.MyPageSubBtn {
  text-align: center;
  margin: 50px 0px;
  background-color: rgb(231, 184, 162);
  padding: 5px;
  border: rgb(212, 158, 158);
  border-radius: 5px;
}

.MyPageSubBtn > p {
  margin-top: 10px;
}

.name2 {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 30px;
}

a {
  text-decoration-line: none;
  color: black;
}

a:hover {
  color: red;
}

.todo-item {
  margin: 10px;
  float: left;
  width: 90%;
  height: 50px;
  border: 1px solid lightblue;
}

/* Check.css */
.NavList {
  text-align: center;
  margin: 10px;
  padding: 0 35px;
  /* background-color: red; */
}

/* Reference.css */

.MypageRf > table > tbody> tr {
  font-size: medium;
  border-bottom: 1px solid rgb(228, 226, 226);
  border-top: 1px solid rgb(228, 226, 226);   
}

.MypageRf > table > tbody> tr > td {
  padding: 10px;
  margin: 0px auto; 
}

.MypageRow {
  position: relative;
  padding: 30px 10px;
  margin: 0px auto;
  float: left;
  width: 200px;
  height: 85px;
  /* background-color: red; */
}

.textInp {
  width: 70%;
}

.select01 {
  width: 30%;
}

.RfAbout {
  margin: -5px 30px;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  border-color: rgb(228, 226, 226);  
}

.textInp01 {
  width: 70%;
}

.noticeEmail {
  padding: 10px;
}

.about01 {
  /* 이메일수정 */
  padding: 0 auto;
  border-radius: 5px;
  border-color: rgb(228, 226, 226);
  background-color: white;
}

.label01 {
  padding: 0 10px;
}

.emailCheck {
  padding: 10px;
}

.textarea01 {
  width: 70%;
  height: 150px;
}

.img01 {
  width: 70%;
  margin: 10px 0px 10px;
  padding: 5px;
}

.imgImf {
  padding-top: 10px;
  font-size: small;
  color: rgb(71, 90, 197);
}

.RfBtn {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(228, 226, 226);  
}

.RfSubmitBtn {
  float: right;
  padding: 10px;
  border-radius: 5px;  
}

/* Notice.css */

.noticeBox {
  float: left;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  /* background-color: red; */
}

/* .table > thead > tr > th {
  background-color: green;
} */
